.catalog{
  background: #eff0f2;
  &__menu{

  }
  &__title{
    font-size: 50px;
    font-weight: 500;
    color: #334059;
  }
  &__items{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  &__item{
    display: block;
    border: 1px solid #0065dd;
    border-radius: 5px;
    width: 330px;
    height: 330px;
    align-items: center;
    justify-content: center;
    background: #fff;
    &-logo{
      padding-left: 90px;
    }
    &-title{
      font-size: 26px;
      font-weight: 500;
      padding:0 0 0 100px;
    }
    &-info{
      color: #909ebb;
      padding-left: 95px;
    }
  }
}