.companies{
    margin: 100px 40px 0 40px;

    &__item{
        width: calc(100% - 150px);
    }
    &__img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 1px 1px 8px rgba(70, 160, 202, 0.551);
    }

}

