.future-plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 180px 30px 180px; /* Увеличиваем отступы слева и справа */
  
    .plan {
      width: 100%;
      border: 1px solid #ccc;
      padding: 20px; /* Увеличиваем внутренний отступ */
      background-color: #f9f9f9;
      transition: all 0.3s;
      transform: scale(1);
  
      &:hover {
        border: 1px solid #0074d9;
        transform: scale(1.05); /* Увеличиваем размер блока при hover */
      }
  
      .plan-title {
        font-weight: bold;
        transition: all 0.3s;
        a {
          text-decoration: none;
          color: #0074d9; /* Исходный цвет текста */
          transition: color 0.3s; /* Плавное изменение цвета при hover */
        }
        &:hover {
          transform: scale(1.01); /* Увеличиваем размер названия плана при наведении */
          color: #33f5ff; /* Новый цвет текста при наведении */
        }
      }
  
      .plan-summary {
        font-size: 14px;
        color: #0074d9;
      }
  
      .plan-description {
        margin-top: 5px;
        color: #333;
      }
  
      .plan-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end; /* Выравниваем amount и date по правому краю */
        color: #888;
  
        .plan-amount {
          font-weight: bold;
          font-size: 20px;
          margin-top: 10px;
          text-align: right; /* Выравниваем amount по правому краю */
          color: #0074d9;
          flex: 30%; /* Занимает 30% правой стороны блока */
        }
  
        .plan-date {
          margin-top: 5px;
          margin-left: auto; /* Добавляем отступ справа для date, чтобы выровнять его по правому краю */
          flex: 30%; /* Занимает 30% правой стороны блока */
        }
      }
    }
  }